In [2]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv("train.csv")

train_df.head()

,id,url,title,target
0,0,m.kp.md,"Экс-министр экономики Молдовы - главе МИДЭИ, ц...",False
1,1,www.kp.by,Эта песня стала известна многим телезрителям б...,False
2,2,fanserials.tv,Банши 4 сезон 2 серия Бремя красоты смотреть о...,False
3,3,colorbox.spb.ru,Не Беси Меня Картинки,False
4,4,tula-sport.ru,В Новомосковске сыграют следж-хоккеисты алекси...,False

In [6]:
train_df[train_df["target"] == True]

,id,url,title,target
8,8,xlecx.com,league of legends » Page 5 » Porn comics free ...,True
12,12,pornmult.info,"кримпай,мать и сын » Страница 5 » смотреть пор...",True
19,19,24eropixel.net,Мужик поставил блондинку раком и отодрал ее ту...,True
21,21,gdespaces.com,Порно которое ты искал / Видео - Spaces.ru / S...,True
41,41,hdxclub.com,Лесбийский секс с кунилингусом двух стройных с...,True
...,...,...,...,...
135221,135221,nola-london.com,Pinoy - The biggest collection of pinoy qualit...,True
135239,135239,pornotwix.com,Two titted blondes enjoy big cock Negra,True
135253,135253,sexlib.org,Все рассказы про: «Первое знакомство с сексом»...,True
135256,135256,pakistanporn.info,Food wild indian tube on Pakistanporn.info,True
135287,135287,sexlib.org,Гарри Поттер и секс в волшебном мире. Часть 3 ...,True

In [43]:
arr = train_df[train_df["target"] == True]

In [57]:
type(arr)
arr.values[2][1]

'24eropixel.net'

In [62]:
!curl arr.values[2][1]

curl: (3) bad range in URL position 12:
arr.values[2][1]
           ^

In [3]:
test_df = pd.read_csv("test.csv")

test_df.head()

,id,url,title
0,135309,www.kommersant.ru,Шестой кассационный суд в Самаре начнет работу...
1,135310,urexpert.online,"Что такое индексация алиментов, кем и в каких ..."
2,135311,imperimeha.ru,Женщинам | Империя Меха - Part 12
3,135312,national-porn.com,"Небритые, волосатые киски: Порно всех стран и ..."
4,135313,2gis.ru,67

In [4]:
len(test_df)

165378

In [5]:
derived = pd.read_csv('derived.csv')

In [6]:
len(derived)

165378

In [7]:
train_df["target"].value_counts()

False    118594
True      16715
Name: target, dtype: int64

In [8]:
from sklearn.metrics import f1_score

In [9]:
X_train = train_df["title"].values
X_test = test_df["title"].values
y_train = train_df["target"].astype(int).values

# Simple baseline

In [10]:
y_pred = [int("порно" in text) for text in X_train]

In [11]:
f1_score(y_train, y_pred)

0.31242758551206484

### Submit

In [12]:
test_df["target"] = [("порно" in text) for text in X_test]

test_df[["id", "target"]].to_csv("simple_baseline.csv", index=False)

!cat simple_baseline.csv | head

id,target
135309,False
135310,False
135311,False
135312,False
135313,False
135314,False
135315,False
135316,False
135317,False
cat: stdout: Broken pipe

### Не все так однозначно

**не порно**:
- Болезни опорно-двигательной системы и импотенция: взаимосвязь
- Транссексуальные рыбы - National Geographic Россия: красота мира в каждом кадре
- Групповая обзорная экскурсия по Афинам - цена €50
- Больного раком Задорнова затравили в соцсетях.
- Гомосексуалисты на «Первом канале»? Эрнст и Галкин – скрытая гей-пара российского шоу-бизнеса | Заметки о стиле, моде и жизни

**порно**:
- Отборная домашка
- Сюзанна - карьера горничной / Susanna cameriera perversa (с русским переводом) 1995 г., DVDRip

# ML baseline

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

vectorizer = CountVectorizer()

model = MultinomialNB()

In [15]:
X_train

array(['Экс-министр экономики Молдовы - главе МИДЭИ, цель которого сделать из республики не просителя, а донора: Надо избегать долгого нахождения н�',
       'Эта песня стала известна многим телезрителям благодаря сериалу Диверсант-2',
       'Банши 4 сезон 2 серия Бремя красоты смотреть онлайн!', ...,
       '1941 Plymouth Special Deluxe Hot Rod, Automatic,Small Block,Power Steering, A/C for sale: photos, technical specifications, description',
       "Купить It's Skin Сыворотка питательная Power 10 Formula YE Effector, 30 мл в Москве - WOWCREAM",
       'Технический спирт в канистрах и флаконах, купить в Москве'],
      dtype=object)

In [14]:
X_train_vectorized = vectorizer.fit_transform(X_train)

In [12]:
X_train_vectorized

<135309x189852 sparse matrix of type '<class 'numpy.int64'>'
	with 1202659 stored elements in Compressed Sparse Row format>

In [16]:
feature_names = np.array(vectorizer.get_feature_names())

In [17]:
feature_names

array(['00', '000', '0000', ..., '𝔸𝕟𝕘𝕖𝕝𝕒', '𝔾𝕌𝕊𝕋𝔸𝕍', '𝕆𝕃𝔾𝔸'],
      dtype='<U101')

In [14]:
id_ = 42

print(X_train[id_])

x_vector = X_train_vectorized.getrow(id_).toarray()[0]

[feature for feature in feature_names[x_vector > 0]]

Презентация на тему "Приближенное значение. Абсолютная и относительная погрешнос

['абсолютная',
 'значение',
 'на',
 'относительная',
 'погрешнос',
 'презентация',
 'приближенное',
 'тему']

In [15]:
%%time

model.fit(
    X_train_vectorized,
    y_train
)

y_pred = model.predict(
    X_train_vectorized
)

CPU times: user 46.8 ms, sys: 10.1 ms, total: 56.9 ms
Wall time: 55.8 ms

In [16]:
f1_score(y_train, y_pred)

0.9036641864382985

### Submit

In [17]:
X_test_vectorized = vectorizer.transform(X_test)

test_df["target"] = model.predict(X_test_vectorized).astype(bool)

test_df[["id", "target"]].to_csv("ml_baseline.csv", index=False)

!cat ml_baseline.csv | head

id,target
135309,False
135310,False
135311,False
135312,True
135313,False
135314,False
135315,False
135316,False
135317,False
cat: stdout: Broken pipe